.recipe-container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #8ba1bb;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10rem;
  width: 100vw; */
}

.return-button {
  background-color: #ae9414;
  color: #e5efc5;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.return-button:hover {
  background-color: #495d3d;
}

.recipe-header {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.single-recipe {
  background-color: #e5efc5;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 200px; /* Adjust the width as needed */
}

.single-recipe:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
