.return-button {
    width: 15rem;
}

.my-recipes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding: 20px;
    width: 100vw;
  }
  
  .cards-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .my-recipe-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .my-recipe-card h4 {
    margin-top: 0;
  }
  
  .add-recipe-button {
    margin-bottom: 20px;
    width: 60px;
}
  
  .add-recipe-button:hover {
    background-color: #ccc;
  }

  