/* RecipeList.css */

.recipe-container {
    margin-top: 122px;
}

.recipe-header {
  width: 85rem;
  text-align: center;
}

.single-recipe {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  padding: 10px;
  background-color: #8ba1bb;
}

.single-recipe:hover {
  transform: scale(1.05);
}

.single-recipe img {
  width: 50%;
  height: 50px;
  object-fit: cover;
  margin-bottom: 10px;
}

.single-recipe .recipe-title {
  font-size: 1.25rem;
  margin: 10px 0;
  text-align: center;
}

.single-recipe h1 {
  font-size: 1rem;
  margin: 10px 0;
  text-align: center;
}

.single-recipe p {
  font-size: 1rem;
  margin: 10px 0;
  text-align: center;
}

/* RecipeSearchBar css */

.filter-bar {
    display: flex;
    justify-content: center;
}

.recipe-search-bar {
    width: 250px;
}
