/* RecipeDetails.css */

.recipe-details {
    max-width: 1200px;
    border: 1px solid #314625;
    border-radius: 8px;
    background-color: #abc0dd;
    margin-top: 18rem;
    padding: 20px;
    margin-left: 150px;
  }
  
  .recipe-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .recipe-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .recipe-meta {
    flex: 1;
    padding-right: 20px;
  }
  
  .recipe-meta p {
    font-size: 1.1rem;
    margin: 10px 0;
  }
  
  .recipe-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .recipe-buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .recipe-image {
    flex: 1;
    max-width: 150px;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .recipe-content {
    margin-top: 20px;
  }
  
  .recipe-content p {
    font-size: 1.1rem;
    margin: 10px 0;
  }
  